body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.titles {
    font-size: 2.5em;
    color: #2c3e50;
}

section {
    margin-bottom: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

.Subtitles {
    font-size: 1.8em;
    color: #2980b9;
    margin-bottom: 10px;
    text-align: center;
}

.text-aboutme {
    font-size: 16px;
    line-height: 1.5em;
    margin: 5px 10px;
    padding: 4px 50px;
    text-align: left;
}

.imgMe{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text {
    font-size: 18px;
    line-height: 1.5;
    margin: 5px 0;
}

a:hover {
    text-decoration: underline;
}

.profile, .hobbies {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info, .list-hobbies {
    flex: 1;
}

.profile {
    gap: 20px;
}

.hobbies {
    gap: 20px;
}

.imghobbies {
    width: 240px;
    height: 230px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    margin-right: 2px;
}

.list-hobbies {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style-type: square;
    padding: 0;
    margin: 0;
}

.elista {
    font-size: 14px;
    margin: 12px 100px;
    text-align: left;
}

.pvideo {
    text-align: center;
}

.pvideo iframe {
    border-radius: 8px;
}

footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.icons {
    margin: 0 10px;
}

.icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.icons img:hover {
    transform: scale(1.2);
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .titles {
        font-size: 2em;
    }

    .Subtitles {
        font-size: 1.5em;
    }

    .text, .elista {
        font-size: 1em;
    }

    .profile, .hobbies {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgMe, .imghobbies {
        margin-bottom: 15px;
        width: 100%;
        max-width: 250px;
    }
}